/* ~~~ General Styles ~~~ */

html, body
{
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body
{
  font-family: "Lucida Grande", Arial, Helvetica;
  font-size: 12px;
  color: #ffffff;
  background: #303030; /* Fallback for IE */
  background: -webkit-linear-gradient(top, #303030, #000000);
  background: -moz-linear-gradient(top, #303030, #000000 65%);
  background: -o-linear-gradient(top, #303030, #000000 65%);
}

h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
}

p, a, li, ul
{
  margin: 0;
  padding: 0;
}

a
{
  color: #ffffff;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

/* ~~~ General Class Styles ~~~ */
.bold
{
	font-weight: bold;
}

.txtCenter
{
  text-align: center;
}

a.cursorPter
{
  cursor: pointer;
}

.noDisplay
{
  display: none;
}
/* ~~~ End General Class Styles ~~~ */

/* ~~~ Specific Styles ~~~ */

div#wrapper, div#headerWrap
{
  margin: 0 auto;
  width: 950px;
}

div#wrapper
{
	overflow: auto;
	padding-top: 10px;
	clear: both;
}

div#crsWrap, div#uploadContent
{
  float: left;
  padding: 0 15px;
}

body.login div#wrapper
{
  text-align: center;
}

div#header
{
 padding: 10px 0; 
}

div#footerWrap
{
  margin: 0 auto;
  width: 950px;
}

div#footer
{
  color: #ffffff;
  text-align: center;
}

/**** Site nav and course dropdown ****/
ul#nav
{
	float: left;
	background-color: #a9a9a9;
	border: 1px solid black;
	border-radius: 4px 4px 4px 4px;
	font-size: 13px;
}

ul#nav, ul.storageItem
{
  list-style-type: none;
}

ul.storageItem
{
	overflow: auto;
	margin: 5px 0;
}

ul#nav li
{
	float: left;
}

ul#nav li a
{
	display: block;
	padding: 8px;
	text-decoration: none;
	border-style: solid;
	border-color: #777777;
	border-width: 0 0 0 1px;
}

ul#nav li a:hover
{
	background-color: #777777;
	color: #030303; 
}

/* matches left hand border radius of parent ul */
ul#nav > li:first-child a:hover
{
	border-radius: 4px 0 0 4px;
}

/* matches right hand border radius of parent ul */
ul#nav > li:last-child a:hover
{
	border-radius: 0 4px 4px 0;
}

ul.storageItem li
{
  float: left;
  margin-right: 15px;
}

ul#nav li.last
{
  margin: 0;
}

ul#nav li:first-child a
{
	border: none;
}

li#courses
{
  position: relative;
}

li#courses ul#crsMenu
{
  position: absolute;
  background-color: #a9a9a9;
  white-space: nowrap;
  list-style-type: none;
  display: none;
  width: 100%;
  border: 1px solid #333;
}

li#courses:hover ul#crsMenu
{
  display: block;
}

li#courses ul#crsMenu li
{
  float: none;
  margin: 0;
}

li#courses ul#crsMenu li a
{
  display: block;
  text-decoration: none;
  border: none;
}
/**** End Site nav and course dropdown ****/

div#ajaxLoader
{
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent url("../img/ajax-loader.gif") no-repeat center center;
  display: none;
}

.qtip.toastMsg
{
  position: absolute;
}

/**** calendar styles ****/
div#calendarWrap
{
  width: 740px; 
  float: right;
}

ul.evtOptions
{
  list-style-type: none;
  font-size: 1.15em;
  width: 100%;
}

ul.evtOptions li:hover
{
  background-color: #999999;
}

ul.evtOptions li a
{
  color: black;
  cursor: default;
  text-decoration: none;
}
/**** end calendar styles ****/

/**** add event box styles ****/
ul#recurList
{
  list-style-type: none;
}

tr#recRow, div#infoLbl, span#infoLbl
{
  display: none;
}
/**** end add event box styles ****/

/**** view event box styles ****/
table#viewEvt 
{
     
}
/**** end view event box styles ****/

/**** course page styles ****/
div#crsContent
{
	padding-top: 25px;
}

ul#crsNav
{
  list-style-type: none;
}

ul#crsNav li
{
  float: left;
  margin-right: 15px;
}

ul#crsNav li:hover
{
  cursor: pointer;
}

ul#crsNav li a
{

}

iframe#uploadFrame
{
  width: 0;
  height: 0;
  border: 0px none;
  display: none;
}

table.crsLanding
{
	text-align: left;
	margin-bottom: 10px;
	border: 1px solid white;
}

div#unApprUploads
{
	padding-top: 25px;	
}
/**** end course page styles ****/

/**** add course page styles ****/
#courseInputForm table{
  width: 500px;
}

#courseInputForm table td input[type=text]{
  width: 100%;
}

#courseInputForm table td textarea{
  /*width: 400px;*/
  width: 100%;
}

#courseInputForm table th{
  text-align: left;
  vertical-align: top;
  padding: 10px;
}

#courseInputForm button{
  margin-bottom: 10px;
}

table#coursesDisplay{
  width: 500px;
}

table#coursesDisplay th{
  text-align: left;
  vertical-align: middle;
  padding: 10px;
}

table#coursesDisplay td{
  width: 100px;
  padding: 10px;
}
/**** end add course page styles ****/

/**** enrollment management page styles ****/
table#enrolledcourses th{
  text-align: left;
  vertical-align: middle;
  padding: 10px;
}

table#enrolledcourses td{
  width: 100px;
  padding: 10px;
}

table#pendingenrollments th{
  text-align: left;
  vertical-align: middle;
  padding: 10px;
}

table#pendingenrollments td{
  width: 100px;
  padding: 10px;
}
/**** end enrollment management page styles ****/

button#loginBtn
{
  height: 50px;
  margin-top: 25px;
}

div#headerRight
{
  float: right;
}

div#headerRight button
{
	margin-left: 15px;
}

button#addFile
{
	margin-bottom: 15px;
}

div#imgBox
{
  text-align: center;
}

div#imgBox img
{
  display: block;
}

div#post-picture
{
  float:left;
  padding-right:5px;
}

span#post-name
{
  padding-right:10px;
}
/* ~~~ End Specific Styles ~~~ */
